#myBox{
    background-color: blue;
    width: 200px;
    height: 200px;
    font-size: 7.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
body{
    margin:0;
}